---
  import BaseHead from '../components/BaseHead.astro';
  import Header from '../components/Header.astro';
  import RecipePreview from '../components/RecipePreview.astro';

  const title = 'Recept';
  const description = 'Filip & Ida Tammergårds receptsamling.';
  const permalink = 'https://recept.tammergard.se/';
  const recipes = await Astro.glob('./*.md');
---

<html lang="en">

<head>
  <BaseHead {title} {description} {permalink} />

  <style>
    header {
      width: 100%;
      height: 100%;
      background-color: var(--theme-bg-offset);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .intro {
      margin-top: 6rem;
      padding-bottom: 4rem;
      margin-bottom: 2rem;
      border-bottom: 4px solid var(--theme-divider);
    }

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0;

    }
  </style>
</head>

<body>
  <Header />
  <main class="wrapper">
    <section class="intro">
      <h1>{title}</h1>
      <p>{description}</p>
    </section>
    <section aria-label="Blog post list">
      {recipes.map((recipe) =>
      <RecipePreview recipe={recipe} />)}
    </section>
  </main>
</body>

</html>
