---
  export interface Props {
    recipe: any;
  }

  const { recipe } = Astro.props;
---

<article>
  <header>
    <a href={recipe.url}>
      <h1>{recipe.frontmatter.title}</h1>
    </a>
    <p>{recipe.frontmatter.minutes} min</p>
  </header>
  <p>{recipe.frontmatter.description}</p>
  <a href={recipe.url}>Läs mer</a>
</article>

<style>
  article {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid var(--theme-divider);
  }

  header {
    padding-bottom: 2rem;
  }

  h1 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
  }
</style>
