---
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Recipe from "@components/Recipe.astro"

interface Props {
	content: {
		description: string
		minutes: string
		source?: string
		title: string
	}
}

const { content } = Astro.props
const { description, minutes, source, title } = content
const permalink = Astro.url.href
---

<html lang="sv">
	<head>
		<BaseHead description={description} permalink={permalink} title={title} />
	</head>

	<body>
		<Header />
		<main class="wrapper">
			<Recipe
				description={description}
				minutes={minutes}
				source={source}
				title={title}
			>
				<slot />
			</Recipe>
		</main>
	</body>
</html>
