---
import BaseHead from 'components/BaseHead.astro';
import Header from 'components/Header.astro';
import Recipe from 'components/Recipe.astro';

const { content } = Astro.props;
const { description, minutes, source, title } = content;
const permalink = `https://recept.tammergard.se/${title.toLowerCase().replace(/ /g, '-')}/`;
---

<html lang="sv">

<head>
  <BaseHead {description} {permalink} {title} />
</head>

<body>
  <Header />
  <div class="wrapper">
    <Recipe {description} {minutes} {source} {title}>
      <slot />
    </Recipe>
  </div>
</body>

</html>
